<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="ApiUrl" value="https://cloud.memsource.com/web/api2/"/>    
    <add key="Username" value="Serg1986"/>
    <add key="Password" value="Test12345"/>
    <add key="OutputDir" value=""/>
    <add key="OutputType" value="TMX"/>
    <add key="OutputGroupByDate"
         value="True"/>
    <add key="OutputZip"
         value="True"/>
  </appSettings>
</configuration>
